sudo: required
language: generic

services:
  - docker

before_install:
  - docker build -t vladosed/react-app -f ./my-app/Dockerfile .

script:
  - docker run -e CI=true vladosed/react-app npm run test